

header {
  padding: 20px 0px;
  background-color: #1a1a1a;
}

header h1 {
  color: #fa2020;
  font-size: 40px;
}

header a:link, a:visited {
  
  color: rgb(255, 255, 255);
}

.favicon {
  color: #fa2020;
}

header li {
  color: rgb(232, 232, 232);
  font-size: 19px;
}
header li:hover {
  border-bottom: 2px solid #fa2020;
  font-size: 21px;
}

header h1::after {
  content: "To";
  color: #ffffff; 
} 


section {
  padding: 4rem 2rem;
}

#sobre {
    background-color: #1A1A1A;
    color: #fc5151;

}

#sobre p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#sobre h2 {
  font-size: 50px;
}

.subscribe {
  background-color: #ff3838;
  font-size: 20px;
  color: #ffffff;
}

.subscribe:hover {
  background-color: #ffffff;
  font-size: 20px;
  color: #ff3838;
}

input, textarea {
  margin-bottom: 1rem;
}

.choice-style {
  font-size: 50px;
}

.choice-style:after {
  content: "disponíveis";
  color: #0d6efd; 
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

header .nav-link:focus, .nav-link:hover {
  color: #fff;
}

a:hover {
  color: #fa2020;
}

.card {
  width: 100%;
  height: 100%;
  float: left;
  margin: 15px 5px;
  border-bottom: 5px solid #0d6dfd21;
}

#contato {
  color: #ff3838;
  background: url("../image/background-contato.png");
  background-position: center;
  background-size: cover;
}

#contato p {
  font-size: 20px;;
  color: #fff;
}


.card {
  width: 32%;
  float: left;
  margin: 15px 5px;
  height: 680px;
}

 .img-fluid {
  filter: saturate(0);
}
 .img-fluid:hover {
  filter: saturate(1);
}

@media (max-width: 500px) {
  .card {
    width: 100%;
    float: left;
    margin: 15px 5px;
  }
}

@media (max-width: 768px) {
  .card {
    text-align: center;
    width: 100%;
    float: left;
    margin: 15px 5px;
  }
}

.section-slide {
  padding: 0px;
  margin: auto;
}